/* Header space for easier readability */

/* BOTH HOME & SURVEY PAGES */

* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #156796;
    color: #156796;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.containerMain,
.surveyContainer {
    background-color: white;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    flex:1; /* same as flex-grow: 1; */
}

h1,
h2,
h3,
h4,
h5 {
   font-family: 'News Cycle', sans-serif;
}

a {
    color: #156796;
    margin-top: 0;
}

a:hover {
    color: rgb(232, 106, 10);
}
/* HOME PAGE */

.homeBtn {
    width: relative;
    padding: 1vh 1vw 1vh 1vw;
    background-color:#156796;
    color: white;
}

.homeBtn:hover {
    color: white;
    font-size: 1.02rem;
}

.homeBtn:active {
    font-size: 1rem;
}

footer {
    background-color: white;
}

/* SURVEY PAGE */

#name,
#photo {
    margin-left: 2vw;
}

.surveyContainer .form-control {
    width: 60%;
}

.container input::placeholder {
    color: lightgrey;
}

input[type="radio"]:checked + label {
  font-weight: bold;
    }

.sans {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.25rem;
}

#submitBtn {
    background-color: #156796;
    color: white;
}

#submitBtn:hover {
    color: white;
    font-size: 1.27rem;
}

#submitBtn:active {
    font-size: 1.25rem;
}

/* Modal */

.modal {
    height: relative;
}

#match-img {
    width: 50%;
}

.modal .btn {
    background-color: #156796;
    color: white;
}

.modal .btn:hover {
    color: white;
    font-size: 1.1rem;
}

.modal .btn:active {
    font-size: 1rem;
}